Repository johan-gras/mantis: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, black

.pre-commit-config.yaml:

# Pre-commit hooks for Mantis
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      # Rust linting
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Python formatting
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.svg$'
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

Add legal disclaimers per spec requirements
  IMPLEMENTATION_PLAN.md
  README.md
  src/export.rs
  src/python/results.rs
Due: cargo-fmt, cargo-clippy

Add CI/CD infrastructure and spec-required benchmarks
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  IMPLEMENTATION_PLAN.md
  benches/backtest_bench.rs
  benchmarks/results/.gitkeep
  scripts/check_bench_regression.py
Due: cargo-fmt, cargo-clippy, black

Implement block bootstrap for Monte Carlo per spec
  IMPLEMENTATION_PLAN.md
  benches/backtest_bench.rs
  src/cli.rs
  src/monte_carlo.rs
  tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy

Add legal disclaimers to documentation per spec requirements
  IMPLEMENTATION_PLAN.md
  docs/api/backtest.md
  docs/api/results.md
  docs/quickstart.md
Due: none

Add documentation code testing script per spec requirements
  IMPLEMENTATION_PLAN.md
  scripts/test_doc_examples.py
Due: black

Mark multi-platform wheel building as resolved in implementation plan
  IMPLEMENTATION_PLAN.md
Due: none

Implement true batch inference for ONNX models
  IMPLEMENTATION_PLAN.md
  src/onnx.rs
Due: cargo-fmt, cargo-clippy

Enforce base slippage cap at 10% per spec requirements
  IMPLEMENTATION_PLAN.md
  src/portfolio.rs
Due: cargo-fmt, cargo-clippy

Implement stop/take profit support in Python sweep function
  IMPLEMENTATION_PLAN.md
  src/python/sweep.rs
Due: cargo-fmt, cargo-clippy

Add property-based testing and CI documentation example validation
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  IMPLEMENTATION_PLAN.md
  benches/backtest_bench.rs
  src/monte_carlo.rs
  src/onnx.rs
  src/python/cpcv.rs
  tests/proptest_tests.rs
Due: cargo-fmt, cargo-clippy

Add load-time model validation for ONNX models
  IMPLEMENTATION_PLAN.md
  src/onnx.rs
Due: cargo-fmt, cargo-clippy

Add Plausible analytics infrastructure and update implementation plan
  IMPLEMENTATION_PLAN.md
  docs/javascripts/analytics.js
  mkdocs.yml
Due: none

Fix Colab/Binder notebooks URLs and API compatibility
  IMPLEMENTATION_PLAN.md
  docs/playground.md
  notebooks/multi_symbol.ipynb
  notebooks/quickstart.ipynb
  notebooks/validation.ipynb
Due: none

Condense IMPLEMENTATION_PLAN.md for clarity
  IMPLEMENTATION_PLAN.md
Due: none

Add ONNX benchmarks, integration tests, and test model infrastructure
  IMPLEMENTATION_PLAN.md
  benches/backtest_bench.rs
  data/models/larger_mlp.onnx
  data/models/minimal.onnx
  data/models/simple_mlp.onnx
  scripts/generate_test_onnx.py
  tests/onnx_integration_tests.rs
Due: cargo-fmt, cargo-clippy, black

Update README for accuracy and Python-first positioning
  IMPLEMENTATION_PLAN.md
  README.md
Due: none

Update test counts and improve AGENTS.md documentation
  AGENTS.md
  IMPLEMENTATION_PLAN.md
Due: none

Fix CompareResult.plot() Plotly table type error
  python/mantis/__init__.py
Due: black

Document cffi/maturin directory shadowing workaround
  AGENTS.md
Due: none

Update Python version requirements to 3.9+ and add 3.13 testing
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

Update IMPLEMENTATION_PLAN.md with today's fixes
  IMPLEMENTATION_PLAN.md
Due: none

Fix benchmark target comment to match spec (< 10ms, not < 100us)
  benches/backtest_bench.rs
Due: cargo-fmt, cargo-clippy

Update IMPLEMENTATION_PLAN.md with benchmark spec fix
  IMPLEMENTATION_PLAN.md
Due: none

Apply cargo fmt formatting fixes
  src/onnx.rs
  src/python/results.rs
  src/viz.rs
  tests/onnx_integration_tests.rs
Due: cargo-fmt, cargo-clippy

Add CI enforcement and documentation improvements
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  IMPLEMENTATION_PLAN.md
  docs/api/index.md
  docs/api/validation.md
  docs/concepts/benchmarks.md
  mkdocs.yml
Due: none

Enable benchmark regression check with initial baseline
  IMPLEMENTATION_PLAN.md
  benchmarks/results/main.json
Due: none

Fix optimization_9param benchmark spec target from 1ms to 10ms
  IMPLEMENTATION_PLAN.md
  benches/backtest_bench.rs
Due: cargo-fmt, cargo-clippy

Update latest tag to v0.0.115 in IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN.md
Due: none

Fix test count in IMPLEMENTATION_PLAN.md from 515 to 491
  IMPLEMENTATION_PLAN.md
Due: none

Update latest tag to v0.0.116 in IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN.md
Due: none

Fix CI workflows and clippy warnings for Rust 1.92
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  IMPLEMENTATION_PLAN.md
  src/analytics.rs
  src/cost_sensitivity.rs
  src/data.rs
  src/engine.rs
  src/monte_carlo.rs
  src/portfolio.rs
  tests/onnx_integration_tests.rs
  tests/proptest_tests.rs
Due: cargo-fmt, cargo-clippy

Update latest tag to v0.0.117 in IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN.md
Due: none

Fix CI workflows to use virtual environment for maturin develop
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

Update IMPLEMENTATION_PLAN.md with CI fix findings
  IMPLEMENTATION_PLAN.md
Due: none

Update latest tag to v0.0.118 in IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN.md
Due: none

Add remaining CI issues to IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN.md
Due: none

Increase Python test coverage from 68% to 81%
  .gitignore
  IMPLEMENTATION_PLAN.md
  tests/python/test_coverage_gaps.py
Due: black
