Repository johan-gras/mantis: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, black

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

black:
  name: black
  entry: black
  language: system

Update latest tag to v0.0.119 in IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_PLAN.md
Due: none

docs: fix doc examples benchmark command fence
  AGENTS.md
  IMPLEMENTATION_PLAN.md
  docs/concepts/benchmarks.md
Due: none

test: lift rust coverage for cli and viz
  AGENTS.md
  IMPLEMENTATION_PLAN.md
  src/cli.rs
  src/error.rs
  src/viz.rs
Due: cargo-fmt, cargo-clippy

fix: guard benchmark regression checks by environment
  IMPLEMENTATION_PLAN.md
  scripts/check_bench_regression.py
Due: black

chore: align python abi3 to py39
  Cargo.toml
  IMPLEMENTATION_PLAN.md
Due: none

fix: repair release workflow yaml
  .github/workflows/release.yml
  IMPLEMENTATION_PLAN.md
Due: none

ci: install plotly for python tests
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  IMPLEMENTATION_PLAN.md
Due: none

ci: fix release wheel install
  .github/workflows/release.yml
  IMPLEMENTATION_PLAN.md
Due: none

ci: allow benchmark baseline push
  .github/workflows/bench.yml
  IMPLEMENTATION_PLAN.md
Due: none

chore: update benchmark baseline [skip ci]
  benchmarks/results/main.json
Due: none

docs: resolve macOS release test note
  IMPLEMENTATION_PLAN.md
Due: none

style: apply rustfmt for CI
  IMPLEMENTATION_PLAN.md
  src/cli.rs
Due: cargo-fmt, cargo-clippy

bench: stabilize parquet export benchmark
  IMPLEMENTATION_PLAN.md
  benches/backtest_bench.rs
Due: cargo-fmt, cargo-clippy

fix: align python API and docs examples
  .github/workflows/release.yml
  IMPLEMENTATION_PLAN.md
  docs/api/backtest.md
  docs/api/data.md
  docs/api/results.md
  docs/concepts/how-it-works.md
  docs/cookbook/backtests.md
  docs/cookbook/loading-data.md
  docs/cookbook/multi-symbol.md
  docs/index.md
  docs/playground.md
  docs/quickstart.md
  python/mantis/__init__.py
Due: black

chore: refresh benchmark baseline
  IMPLEMENTATION_PLAN.md
  benchmarks/results/main.json
Due: none

ci: gate PyPI publish on config
  .github/workflows/release.yml
  IMPLEMENTATION_PLAN.md
Due: none

test: read ascii plot with utf-8
  IMPLEMENTATION_PLAN.md
  tests/python/test_coverage_gaps.py
Due: black

Align limit order TTL with spec
  IMPLEMENTATION_PLAN.md
  src/cli.rs
  src/config.rs
  src/engine.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  black: any of: \.py$
